body {
    display: flex;
    flex-direction: column;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #EEE6D8;
}
nav {
    background-color: #93441A;
    color: #EEE6D8;
    padding: 0;
    width: 100%;
}
nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
}
nav ul li {
    margin: 0;
    border-right: 1px solid #DAAB3A;
}
nav ul li a {
    display: block;
    color: #EEE6D8;
    text-decoration: none;
    font-weight: bold;
    padding: 15px;
}
nav ul li a:hover {
    background-color: #B67332;
}
main {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}
iframe {
    width: 80%;
    height: 1000px;
    border: 1px solid #DAAB3A;
}
@media (max-width: 768px) {
    nav {
        width: 100%;
        display: flex;
        flex-direction: row;
    }
    nav ul {
        flex-direction: row;
        align-items: center;
    }
    iframe {
        width: 100%;
        height: 700px;
    }
}